@import url('../about-author/__image/about-author__image.css');
@import url('../about-author/__text/about-author__text.css');
@import url('../about-author/__title/about-author__title.css');
@import url('../about-author/__wrapper/about-author__wrapper.css');

.about-author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1232px;
  margin: auto;
  padding: 80px 104px 80px 104px
}

