.search__input {
  width: 80%;
  height: 62px;
  border-radius: 40px;
  border: 0px;
  outline: none;
  padding-left: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #1a1b22;
  transition: box-shadow 1s;
  position: relative;
}

@keyframes errors {
  from {
    margin-top: -8px;
    opacity: .1;
  }
  to {
    margin-top: 1px;
    opacity: .9;
  }
}

.form__error {
  display: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 60%;
  padding: 6px;
  background-color: #F44336;
  border-radius: 0px 0px 50px 50px;
  align-self: center;
  animation: errors .2s ease-in;
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__input:focus {
  box-shadow: inset 0px 0px 6px 2px #ffdb4d;
}

.search__input:valid:not(:placeholder-shown) {
  box-shadow: inset 0px 0px 6px 2px #ffdb4d;
}

.search__input:invalid:not(:placeholder-shown) {
  box-shadow: inset 0px 0px 6px 2px #df4b41;

}


@media screen and (max-width: 1330px) {
  .search__input {
    height: 54px;
    display: block;
    margin: auto;
    width: 70%;
  }
}

@media screen and (max-width: 701px) {
  .search__input {
    width: 80vw;
  }
}


@media screen and (max-width: 444px) {
  .search__input {
    width: 83vw;
  }
}
