@import url('./__header/analytics__header.css');
@import url('./__inner-line-text/analytics__inner-line-text.css');
@import url('./__inner-line/analytics__inner-line.css');
@import url('./__line-date/analytics__line-date.css');
@import url('./__line-wrapper/analytics__line-wrapper.css');
@import url('./__line/analytics__line.css');
@import url('./__range-number/analytics__range-number.css');
@import url('./__range/analytics__range.css');
@import url('./__range/analytics__range.css');
@import url('./__table-title/analytics__table-title.css');
@import url('./__table/analytics__table.css');
@import url('./__title/analytics__title.css');

.analytics {
  max-width: 1232px;
  min-height: 500px;
  margin: auto;
  padding: 81px 104px 60px 104px;
  background-color: #f5f6f7;
}
