.description__text {
  margin: 0;
  padding: 24px 0px 0px 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 815px;
  font-size: 18px;
  line-height: 1.5rem;
  color: #1a1b22;
}

@media screen and (max-width:1330px) {
  .description__text {
    line-height: 1.7rem;
    padding: 13px 0px 0px 0px;
  }
}

@media screen and (max-width: 444px) {
  .description__text {
    line-height: 1.5rem;
    padding: 20px 0px 0px 0px;
  }
}
