.git__author-avatar {
  width: 64px;
  height: 64px;
  display: block;
}

@media screen and (max-width: 1330px) {
  .git__author-avatar {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 444px) {
  .git__author-avatar {
    width: 48px;
    height: 48px;
  }
}
