@import url('./__text/description__text.css');
@import url('./__title/description__title.css');

.description {
  max-width: 1232px;
  margin: auto;
  padding: 80px 104px 94px 104px;
}


@media screen and (max-width:1330px) {
  .description {
    padding: 32px 40px 55px 40px;
  }
}

@media screen and (max-width: 444px) {
  .description {
    padding: 20px 16px 45px 16px;
  }
}
