@import url('./__title/search__title.css');
@import url('./__subtitle/search__subtitle.css');
@import url('./__wrapper/search__wrapper.css');
@import url('./__form/search__form.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');


.search {
    max-width: 100%;
    min-height: 576px;
    background-image: url('../../images/search__background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}
