.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1258px;
  min-height: 80px;
  margin: auto;
  padding: 29px 0px 0px 0px;
}

.footer__copyright {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
  padding: 5px 0px 0px 13px;
  letter-spacing: .3px;
}


.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__nav-item {
  margin: 0;
  padding: 0px 12px 0px 32px;
}

.footer__nav-item-link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  transition: opacity 0.5s;
}

.footer__nav-item-link:hover {
  opacity: 0.5;
}

.footer__social-icon {
  margin: 0px 13px 0 13px;
  transition: opacity 0.5s;
}

.footer__social-icon:hover {
  opacity: 0.5;
}
