.git__commit-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 352px;
  font-size: 16px;
  line-height: 1.4rem;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
