@import url('./__link/logo__link.css');
@import url('./__link_black/logo__link_black.css');

.logo {
    font-size: 20px;
    line-height: 24px;
    font-family: RobotoSlab, Arial, Helvetica, sans-serif;
    transition: transform 1s;
}

.logo:hover {
    transform: translateY(-4px);
}


@media screen and (max-width: 444px) {
  .logo {
    font-size: 16px;
  }
}
