@import url('./__preloader/result__preloader.css');
@import url('./__progress-text/result__progress-text.css');
@import url('./__progress/result__progress.css');
@import url('./_is-opened/result_is-opened.css');
@import url('./__not-found/result__not-found.css');
@import url('./__not-found-image/result__not-found-image.css');
@import url('./__not-found-title/result__not-found-title.css');
@import url('./__not-found-subtitle/result__not-found-subtitle.css');

.result {
  background-color: #f5f6f7;
  display: none;
}


.result__news {
  max-width: 1248px;
  margin: auto;
  padding: 80px 104px 80px 104px;
}

.result__news-title {
  margin: 0;
  padding: 0;
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #1a1b22
}

.result__news-analytics {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #1a1b22;
  transition: transform 0.5s;
}

.result__news-analytics:hover {
  transform: translateX(5px);
}

.result__news-analytics-arrow {
  padding-left: 10px;
}

.result__title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px 64px 8px;
}

.result__cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.result__card {
  max-width: 400px;
  height: 576px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 20px 36px #00000024;
  position: relative;
  transition: transform 0.2s;
  margin: 0px 8px 16px 8px;
}

.result__card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.result__card-image {
  width: 400px;
  height: 272px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.result__card-date {
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #b6bcbf;
  margin: 0;
  padding: 22px 24px 0px 24px;
}

.result__card-title {
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #1a1b22;
  margin: 0;
  padding: 15px 24px 0px 24px;
}

.result__card-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1a1b22;
  margin: 0;
  padding: 16px 24px 0px 24px;
  line-height: 22px;
  max-height: 107px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__card-author {
  position: absolute;
  bottom: 24px;
  left: 0x;
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
  padding: 20px 24px 0px 24px;
}


.result__button {
  background-color: #fff;
  border: 0px;
  width: 288px;
  height: 64px;
  border-radius: 50px;
  color: #1a1b22;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: block;
  margin: 47px auto 0px auto;
  cursor: pointer;
  transition: opacity 0.5s;
}

.result__button:hover {
  opacity: 0.8;
}
