.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  order: 1;
}

@media screen and (max-width: 740px) {
  .footer__nav {
    flex-direction: column;
  }
}
