.result__card-author {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-family: RobotoSlab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 1330px) {
  .result__card-author {
    bottom: 16px;
    left: 16px;
  }
}
