.analytics__inner-line {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  min-height: 24px;
  color: #fff;
  background-color: #2f71e5;
  transition: opacity .3s;
}


.analytics__inner-line:hover {
  opacity: .7;
}

