@import url('./__navigation/header__navigation.css');
@import url('./__navigation-list/header__navigation-list.css');
@import url('./__navigation-list-item/header__navigation-list-item.css');
@import url('./__navigation-link/header__navigation-link.css');

.header {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1232px;
    margin: auto;
    border-bottom: 1px solid rgba(196, 196, 196, 0.3);
    padding: 7px 104px 0px 104px;
}
