.reslut__progress-text {
  margin: 0;
  padding: 26px 0px 0px 0px;
  max-width: 280px;
  margin: auto;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #b6bcbf;
}
